@import "tailwindcss";

:root {
    --color-light: rgb(122, 237, 255);
    --color-dark: rgb(0, 221, 255);
    --color-background-100: #343a40;
    --color-background-500: #2b3035;
    --color-background-900: #212529;
    --normal-text: #adb5bd;
    --heading: #e9ecef;
    --selected: #37b24d;
}

.brd {
    border: 1px solid red;
}

body {
    background-color: var(--color-background-900);
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
}


/*
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128
  
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
  */

/*